<% include partials/header %>

  <div class="container">
     <div class="jumbotron">
         <h1>Learn <i class="fa fa-chevron-right" aria-hidden="true"></i> Build<i class="fa fa-chevron-right" aria-hidden="true"></i> Measure <i class="fa fa-chevron-right" aria-hidden="true"></i> Innovate<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></h1>
         <p>A transformation journey</p>
     </div>

    <div class="awscerts">
      <img src="<%= cdnPath %>/images/Solutions-Architect-Associate.png">
      <img src="<%= cdnPath %>/images/Developer-Associate.png">
      <img src="<%= cdnPath %>/images/SysOps-Administrator-Associate.png">
    </div>

   <div class="blogTitle"><h1>Learn</h1></div>
   <div class="blogText blogPost"><p>When I lost my job, I was first and foremost shocked. 
   I did not expect it.  I decided to start a transformation journey by diving deeper into 
   Amazon Web Services (AWS).  The best way in my opinion was to get certified.  
   After 6 weeks of studying and preparation, I obtained all three Associate Level certifications.
     I continued the transformation journey by brushing off my coding skills.  
     I had not coded for a long time and needed a refresher.  
     I signed up for two bootcamp courses on NodeJS, Javascript, HTML, CSS.
     This dovetailed into an exploration of serverless computing.  This site is now run 
     on S3, Lambda and DynamoDB, saving the cost of keeping a server running 24/7.</p></div> 
   
   <div class="blogTitle"><h1>Build</h1></div>
   <div class="blogText blogPost"><p>Below are some "highlights" of my journey - simple applications that were in the courses that I replicated and built up.</p></div>

    <a class="btn btn-primary" role="button" href="/colorpicker">Color picker game</a>
    <a class="btn btn-primary" role="button" href="/todolist">To Do list</a>
    <a class="btn btn-primary" role="button" href="/moviesearch">Movie Search using OMDb API</a>

   <div class="blogTitle"><h1>Measure</h1></div>
   <div class="blogText blogPost"><p>Send me your feedback!  I would love to hear from you.  
   Your feedback will be valuable to me as I continue to expand my skills.  The feedback is anonymous, but please be considerate.</p></div>
  
  <!-- Message area -->
    <% if(message && message.type === 'success' && message.msg.length > 0) { %>
      <div class="alert alert-success"><p><%= message.msg %></p></div>
    <% } %>    
    
    <% if(message && message.type === 'error' && message.msg.length > 0) { %>
      <div class="alert alert-danger"><p><%= message.msg %></p></div>
    <% } %>    

  <!-- End message area -->	 

   <form action="/feedback" method="POST">
    <div class="containerBox">
      <div class="form-group">
        <label class="sr-only" id="feedback" for="feedback">Feedback</label>
        <textarea class="form-control" cols="50" rows="3" placeholder="Submit your feedback" name="fb" id="feedback"></textarea>
      </div>
      <button style="float: right" type="submit" class="btn btn-primary">Submit</button>
    </div>
   </form>

   <div class="blogTitle"><h1>Innovate</h1></div>
   <div class="blogText blogPost"><p>Use AWS services and serverless computing to reduce hosting costs.  I started out using an EC server to host this site.
   The process of updating the app, while small, was a challenge having to set an FTP server to push updates to the correct directory.
   I then converted my site to use Elastic Beanstalk.  This made updates a snap, and ensured a server was always running.  However, a server had to be run.
   A t1.micro for 72 hrs cost approximately $1.44.  Over the course of a couple of months, this adds up!</p><p>Serverless hosting to the rescue. 
   This site is now hosted on S3 for static assets, ClaudiaJS to convert the Express app to a Lambda funciton and push updates to Lambda, 
   Lambda for NodeJS processing, API Gateway to front the Lambda function and DynamoDB (used to be MongoDB)
   for storing your feedback.  The cost is significantly lower (almost 0!).  I am charged only when the site is visited.  Pretty cool!</p>
   <p>Other AWS services include Route 53, CloudFront, IAM Roles and Certificate Manager</div>

  </div>

<% include partials/footer %>